body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: navajowhite;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid black;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .choices button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(63, 51, 104);
    color: white;
  }
  
  .result p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .score p {
    font-size: 16px;
    margin-top: 20px;
  }
  
  #result-message {
    font-weight: bold;
    font-size: 20px;
    color: #d9534f;
  }
  